<div class="d-flex align-items-center auth px-0" style="margin-top: 5%">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="brand-logo">
          <img src="assets/images/logo.png" alt="logo">
        </div>
        <h4>Did you forgot your password?</h4>
        <h6 class="font-weight-light">Enter your e-mail to continue.</h6>
        <form class="pt-3">

          <div class="form-group">
            <input type="email" #email class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email">
          </div>

          <div class="mt-3">
            <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
               (click)="mailSend(email.value)">Continue</a>
          </div>
          <div class="text-center mt-4 font-weight-light">
            Already have an account? <a routerLink="/user-pages/login" class="text-primary">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
