<div class="d-flex align-items-center auth px-0" style="margin-top: 5%">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="brand-logo">
          <img src="assets/images/logo.png" alt="logo">
        </div>
        <h4>Did you get a code to your email?</h4>
        <h6 class="font-weight-light">Enter the code sent to your mail where necessary and determine your new password.</h6>
        <form class="pt-3">
          <div class="form-group">
            <input type="text" #code class="form-control form-control-lg" id="exampleInputCode" placeholder="Code">
          </div>

          <div class="form-group">
            <input type="email" #email class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email">
          </div>

          <div class="form-group">
            <input type="password" #password class="form-control form-control-lg" id="exampleInputPassword1" placeholder="New Password">
          </div>

          <div class="mt-3">
            <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
               (click)="newPassword(code.value, email.value, password.value)">Update</a>
          </div>
          <div class="text-center mt-4 font-weight-light">
            Already have an account? <a routerLink="/user-pages/login" class="text-primary">Login</a>
          </div>

          <div id="alert" class="alert alert-fill-danger"  *ngIf="error.message">
            <i class="mdi mdi-information-outline"></i>
            <span id="message" >{{error.message}}</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
