<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="nav-profile-image">
          <div style="text-align:center ">
            <span class="avatar" [style.background-color]="color"><p class="avatarText">{{avatarText}}</p></span>
          </div>
          <span class="login-status online"></span> <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-bold mb-2">{{name}} {{surname}}</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': account.isActive }">
      <a class="nav-link" routerLink="/updateAccount" routerLinkActive #account="routerLinkActive">
        <span class="menu-title">My Account</span>
        <i class="mdi mdi mdi-account menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': advert.isActive }">
      <a class="nav-link" routerLink="/advert" routerLinkActive #advert="routerLinkActive">
        <span class="menu-title">Advert</span>
        <i class="mdi mdi mdi-book-open-variant menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': advert.isActive }">
      <a class="nav-link" routerLink="/favorite" routerLinkActive #advert="routerLinkActive">
        <span class="menu-title">Favorite</span>
        <i class="mdi mdi mdi-book-open-variant menu-icon"></i>
      </a>
    </li>

  </ul>
</nav>
