<div class="page-header">
  <h3 class="page-title">
    Advert
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Advert</a></li>
      <li class="breadcrumb-item active" aria-current="page">My Advert List</li>
    </ol>
  </nav>
</div>

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">My Advert List</h4>

      <button type="button" id="add-advert" routerLink="/addAdvert" class="btn btn-inverse-success btn-fw">Add New
        Advert</button>
        <br>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th> Animal Photo</th>
              <th> Advert Title </th>
              <th>  Animal Name </th>
              <th>  Advert Creation Date  </th>
              <th>  Advert Type </th>
              <th> Advert Status </th>
              <th>  Operation </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let advert of model['data']">
              <td class="py-1" routerLink="/detailAdvert/{{advert.advertisementID}}">
                <img src={{advert.advertisementAnimal.animalPhoto}} alt="image" />
              </td>
              <td routerLink="/detailAdvert/{{advert.advertisementID}}"> {{advert.advertisementTitle}} </td>
              <td routerLink="/detailAdvert/{{advert.advertisementID}}"> {{advert.advertisementAnimal.genre}}</td>
              <td>{{advert.date | date:'mediumDate'}} </td>
              <td >{{advert.advertisementType}} </td>
              <td>{{advert.status}}</td>
              <td>
                <button type="button" routerLink="/updateAdvert/{{advert.advertisementID}}" class="btn btn-danger btn-rounded btn-icon">
                  <i class="mdi mdi-sync"></i>
                </button>
                <button type="button" (click)="openSmallModal(smallModalContent,advert.advertisementID)" class="btn btn-gradient-dark btn-rounded btn-icon">
                  <i class="mdi mdi-delete"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<ng-template #smallModalContent let-modal class="modal fade" aria-labelledby="exampleModalLabel-3">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel-3">Advert Delete</h5>
      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>      You have made a Advert deletion request. Are you sure you want to continue ?
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="modal.onDelete()">Delete</button>
      <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
    </div>
  </div>
</ng-template>

<notifier-container></notifier-container>
