<div class="page-header">
    <h3 class="page-title">
      Advert
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;">Advert</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Advert List</li>
      </ol>
    </nav>
  </div>
 
<div class="col-lg-12 grid-margin stretch-card">
    
    <div class="card">
        
      <div class="card-body">
        
        <h4 class="card-title">My Advert List</h4>
        
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Animal Photo
                </th>
                <th>
                  Advert Title
                </th>
                <th>
                  Animal Name
                </th>
                <th>
                  Advert Creation Date
                </th>
                
                <th>
                  Advert Type
                </th>
                <th>
                  Advert Status
                </th>
                <th>
                    Operation
                  </th>
                  
              </tr>
            </thead>
            <tbody>
               
              
              <tr routerLink="/detailAdvert/1">
                <td class="py-1">
                  <img src="assets/images/faces/face7.jpg" alt="image"/>
                </td>
                <td>
                  Recep için sahip
                </td>
                <td>
                  Recep
                </td>
                <td>
                  June 16, 2015
                </td>
                <td>
                  Sahiplendirme
                </td>
                <td>
                  Bekliyor
                </td>
                <td>
                    <button type="button"  routerLink="/updateAdvert/1" class="btn btn-danger btn-rounded btn-icon">
                        <i class="mdi mdi-sync"></i>
                      </button>
                      <button type="button" class="btn btn-gradient-dark btn-rounded btn-icon">
                        <i class="mdi mdi-delete"></i>
                      </button>
                  </td>
                  
              </tr>
              <tr routerLink="/detailAdvert/1">
                <td class="py-1">
                  <img src="assets/images/faces/face7.jpg" alt="image"/>
                </td>
                <td>
                  Recep için sahip
                </td>
                <td>
                  Recep
                </td>
                <td>
                  June 16, 2015
                </td>
                <td>
                  Sahiplendirme
                </td>
                <td>
                  Bekliyor
                </td>
                <td>
                    <button type="button"  routerLink="/updateAdvert/1" class="btn btn-danger btn-rounded btn-icon">
                        <i class="mdi mdi-sync"></i>
                      </button>
                      <button type="button" class="btn btn-gradient-dark btn-rounded btn-icon">
                        <i class="mdi mdi-delete"></i>
                      </button>
                  </td>
                  
              </tr>
              <tr routerLink="/detailAdvert/1">
                <td class="py-1">
                  <img src="assets/images/faces/face7.jpg" alt="image"/>
                </td>
                <td>
                  Recep için sahip
                </td>
                <td>
                  Recep
                </td>
                <td>
                  June 16, 2015
                </td>
                <td>
                  Sahiplendirme
                </td>
                <td>
                  Bekliyor
                </td>
                <td>
                    <button type="button"  routerLink="/updateAdvert/1" class="btn btn-danger btn-rounded btn-icon">
                        <i class="mdi mdi-sync"></i>
                      </button>
                      <button type="button" class="btn btn-gradient-dark btn-rounded btn-icon">
                        <i class="mdi mdi-delete"></i>
                      </button>
                  </td>
                  
              </tr>
            </tbody>
            
          </table>
          
        </div>
        
        <button type="button" id="add-advert" routerLink="/addAdvert" class="btn btn-inverse-success btn-fw">Add New Advert</button>
      </div>
      
    </div>
    
  </div>
