<div class="page-header">
  <h3 class="page-title" style="margin-bottom: 30px;">Advert</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/advert">Advert</a></li>
      <li class="breadcrumb-item active" aria-current="page">Advert Detail</li>
    </ol>
  </nav>
</div>
<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body ">
      <h2 style="text-align: center;" class="card-title">
        {{response.data.advertisementTitle}}</h2>
      <div class=row style="margin-bottom: 0px;">
        <div class="col-lg-11">
          <p style="text-align: left;margin: 0px;">{{response.data.advEntryDate | date:'medium'}}</p>
        </div>
        <div class="col-lg-1" [ngSwitch]="response.data.status">
          <div style="text-align: center; font-size: 14px;" class="badge badge-pill badge-success" *ngSwitchCase="0">Waiting</div>
          <div style="text-align: center;font-size: 14px;" class="badge badge-pill badge-info" *ngSwitchCase="1">Completing</div>
          <div style="text-align: center; font-size: 14px;" class="badge badge-pill badge-danger" *ngSwitchCase="2">Needs More</div>
        </div>
      </div>
      <hr>
      <br style="margin:0px">
      <div class="container">
        <div class="row" style="justify-content: left;">
          <div class="col">
            <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
          </div>
        </div>
        <br>
        <div class="row" style="justify-content: center;">
          <div style="width: 91%; text-align: left;" class="card">
            <div style=" border: 1px solid gray;
            border-radius: 5px;" class="card-body">
              <b>
                <h4 class="card-title">Explanation</h4>
              </b>
              <p>{{response.data.advertisementExplanation}}</p>
            </div>
          </div>
        </div>
        <br>
        <div class="row" style="justify-content: center;margin-left: 5%;">
          <div class="col">
            <div class="card">
              <div style=" border: 1px solid gray;
              border-radius: 5px;" class="card-body">
                <b>
                  <h4 class="card-title">Animal Informations</h4>
                </b>
                <p><b>Age</b><br>{{response.data.advertisementAnimal.age}} </p>
                <p><b>Genre</b><br>{{response.data.advertisementAnimal.genre}}</p>
                <p><b>Gender</b><br>{{response.data.advertisementAnimal.gender}}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div style=" border: 1px solid gray;
              border-radius: 5px;" class="card-body">
                <b>
                  <h4 class="card-title">Owner Informations</h4>
                </b>
                <p><b>Owner Name</b><br>{{response.data.ownerUser.personName}}
                  {{response.data.ownerUser.personLastName}}</p>
                <p><b>Owner E-Mail</b><br>{{response.data.ownerUser.personEmail}}</p>
                <p><b>Owner Phone</b><br>{{response.data.ownerUser.personPhone}}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div style=" border: 1px solid gray;
              border-radius: 5px;" class="card-body">
                <b>
                  <h4 class="card-title">Adress Informations</h4>
                </b>
                <p><b>Province</b><br>{{response.data.advertisementAddress.province}}</p>
                <p><b>District</b><br>{{response.data.advertisementAddress.district}}</p>
                <p><b>FullAddress</b><br>{{response.data.advertisementAddress.fullAddress}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<br>

<div class="col-12 grid-margin stretch-card">
  <div style="justify-content: left;" class="card">
    <div style="justify-content: left;" class="card-body ">
      <h2 style="text-align: center;" class="card-title">
        Comments</h2>

      <div class="comment_block">
        <div class="create_new_comment" >
          <div style="margin-bottom: 50px;">
          <div class="input_comment">
            <div class="row"  >
              <div class="col-lg-10">
                <input #comment type="text" id="comment" placeholder="Write your comment.">
              </div>
              <div class="col-lg-2">
                <button (click)="createComment(comment.value)" class="btn btn-primary" style="height: 40px;">
                  Share
                </button>
              </div>

            </div>
          </div>
        </div>
          <div *ngFor="let comment of response.data.comments; let index =  index" class="new_comment" id='{{index}}'>
            <ul class="user_comment">
              <div class="user_avatar">
                <img src="https://img.icons8.com/bubbles/2x/user-male.png">
              </div>
              <div class="comment_body">
                <p>{{comment.comment}}</p>
              </div>
              <div class="comment_toolbar">
                <div class="comment_details">
                  <ul>

                    <li><i class="fa fa-calendar"></i> {{comment.date}}</li>
                    <li><i class="fa fa-pencil"></i> <span class="user">{{comment.personName}}
                        {{comment.personLastName}}</span></li>
                  </ul>
                </div>
                <div class="comment_tools">
                  <ul>
                    <li><i (click)="openSmallModal(smallModalContent,comment.commentID) " [hidden]="comment.isDeletable == false" class="fa fa-remove"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #smallModalContent let-modal class="modal fade" aria-labelledby="exampleModalLabel-3">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel-3">Comment Delete</h5>
      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>      You have made a Comment deletion request. Are you sure you want to continue ?
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="onDelete()">Delete</button>
      <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
    </div>
  </div>
</ng-template>