<div class="page-header">
  <h3 class="page-title">Advert</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/advert">Advert</a></li>
      <li class="breadcrumb-item active" aria-current="page">Advert Detail</li>
    </ol>
  </nav>
</div>

<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body " >
      <h2 class="card-title">
        {{response.data.advertisementTitle}}
      </h2>

      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <ngb-tabset type="pills" class="pills-success">
              <ngb-tab title="Gallery">
                <ng-template ngbTabContent>
                        <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
                </ng-template>
              </ngb-tab>

              <ngb-tab title="Advert Description">
                <ng-template ngbTabContent>
                  {{response.data.advertisementExplanation}}
                </ng-template>
              </ngb-tab>


              <ngb-tab title="Animal Informations">
                <ng-template ngbTabContent>
                  <p><b>Age :</b>{{response.data.advertisementAnimal.age}} </p>
                  <p><b>Genre :</b>{{response.data.advertisementAnimal.genre}}</p>
                  <p><b>Gender :</b>{{response.data.advertisementAnimal.gender}}</p>
                </ng-template>
              </ngb-tab>

              <ngb-tab title="Owner Informations">
                <ng-template ngbTabContent>
                    <p><b>Owner Name :</b>{{response.data.ownerUser.personName}} {{response.data.ownerUser.personLastName}}</p>
                    <p><b>Owner E-Mail :</b>{{response.data.ownerUser.personEmail}}</p>
                    <p><b>Owner Phone :</b>{{response.data.ownerUser.personPhone}}</p>
                </ng-template>
              </ngb-tab>

              <ngb-tab title="Adress Informations">
                <ng-template ngbTabContent>
                    <p><b>Province :</b>{{response.data.advertisementAddress.province}}</p>
                    <p><b>District :</b>{{response.data.advertisementAddress.district}}</p>
                    <p><b>FullAddress :</b>{{response.data.advertisementAddress.fullAddress}}</p>
                </ng-template>
              </ngb-tab>



            </ngb-tabset>
          </div>
        </div>
      </div>








    </div>
</div>
