<div class="page-header">
  <h3 class="page-title">Advert</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/advert">Advert</a></li>
      <li class="breadcrumb-item active" aria-current="page">Advert Detail</li>
    </ol>
  </nav>
</div>

<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body " >
      <h2 class="card-title">
        Selam bu kedicik için yeni bir sahip arıyoruz. 
      </h2>




    






      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
          
            <ngb-tabset type="pills" class="pills-success">
              <ngb-tab title="Gallery">
                <ng-template ngbTabContent>
                    
                        <ng-image-slider [images]="imageObject" #nav></ng-image-slider>   
                        
                  
                
                </ng-template>
              </ngb-tab>





              <ngb-tab title="Advert Description">
                <ng-template ngbTabContent>
                    Selam bu kedicik için yeni bir sahip arıyoruz. Uzun zamandır bizimle ve ismine duyarlı. Ayrıca oldukça uslu da :)
                </ng-template>
              </ngb-tab>




              <ngb-tab title="Animal Informations">
                <ng-template ngbTabContent>
                  <p><b>Age :</b>1</p>
                  <p><b>Genre :</b>Cat</p>
                  <p><b>Gender :</b>Male</p>
                </ng-template>
              </ngb-tab>

              <ngb-tab title="Owner Informations">
                <ng-template ngbTabContent>
                    <p><b>Owner Name :</b>1</p>
                    <p><b>Owner E-Mail :</b>ismailsefa.akdnz@gmail.com</p>
                    <p><b>Owner Phone :</b>05397722431</p>
                </ng-template>
              </ngb-tab>

              <ngb-tab title="Adress Informations">
                <ng-template ngbTabContent>
                    <p><b>Province :</b>İzmir</p>
                    <p><b>District :</b>Bornova</p>
                    <p><b>FullAddress :</b>1389 sokak no 145</p>
                </ng-template>
              </ngb-tab>



            </ngb-tabset>
          </div>
        </div>
      </div>







      
    </div>
</div>