<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-home"></i>
    </span>
    Dashboard
  </h3>
  <div style="float: right;">
    <div class="searchBox">
      <input class="searchInput"type="text" [(ngModel)]="searchText"
      placeholder="Search" name="SearchText">
      <button class="searchButton" href="#">
          <i class="mdi mdi-yeast">
          </i>
      </button>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div style="margin-top: 20px" class="col-lg-4" *ngFor="let data of model['data'] | filter: searchText ">
    <igx-card routerLink="/detailAdvert/{{data.advertisementID}}">
      <igx-card-media height="196px">
        <img style="width: 100%;" src={{data.advertisementAnimal.animalPhoto}}>
      </igx-card-media>
      <igx-card-header>
        <div [ngSwitch]="data.status">
          <div style="width: 70px; font-size: 12px;" class="badge badge-pill badge-success" *ngSwitchCase="0"> Waiting </div>
          <div style="width: 70px; font-size: 12px;"  class="badge badge-pill badge-info" *ngSwitchCase="1"> Completing</div>
          <div style="width: 70px; font-size: 12px;"  class="badge badge-pill badge-danger" *ngSwitchCase="2"> Needs More</div>
        </div>
        <h3 igxCardHeaderTitle>{{data.advertisementTitle}}</h3>
      </igx-card-header>
      <igx-card-content style="margin-left: 20px;">
        <span><b>Date</b>: {{data.date}}</span>
        <br>
        <br>
        <span [ngSwitch]="data.advertisementType">
          <span *ngSwitchCase="0"><b>Advert Type</b>: Food Help</span>
          <span *ngSwitchCase="1"><b>Advert Type</b>: Ownership</span>
          <span *ngSwitchCase="2"><b>Advert Type</b>: Vaccination</span>
        </span>
        <br>
        <br>
        <span><b>Province</b>: {{data.advertisementAddress.province}}</span>
      </igx-card-content>
      <igx-card-actions style="margin-left: 20px;">
        <span style="width: 120px; font-size: 12px;" class=" badge badge-pill badge-primary ">
          <b>{{data.advertisementAnimal.genre}}</b></span>
      </igx-card-actions>
    </igx-card>
  </div>
</div>